# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
bin/Debug/Assembly-CSharp-firstpass.dll
.vs/TradeAI/v15/.suo
*.lock
.vs/TradeAI/v15/Server/sqlite3/storage.ide
obj/Release/TradeAI.pdb
*.txt
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
.vs/TradeAI/v15/Server/sqlite3/storage.ide-shm
*.dll
bin/Debug/TradeAI.pdb
*.pdb
obj/Release/TradeAI.csproj.CoreCompileInputs.cache
*.CopyComplete
obj/Debug/TradeAI.csprojResolveAssemblyReference.cache
*.cache
.vs/TradeAI/v15/Server/sqlite3/storage.ide-wal
